<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <title>Organize</title>
  </head>
  <body>
    <div class="wrapper">
      <h1>Organize</h1>
      <div class="form">
        <form action="" id="loginform" method="post">
          <label required="true" for="username">Login</label>
          <input type="text" name="username" />
          <label for="password">Senha</label>
          <input required="true" type="password" name="password" />
          <input type="submit" value="Entrar" id="btnSubmit" />
        </form>
      </div>
    </div>
  </body>
</html>
